.chrome-spendly-button {
  background-size: cover;
  border-radius: 4px;
  background: linear-gradient(135deg, #4CB8C4, #3CD3AD);
  color: #fff;
  padding: 8px;
  margin-right: 16px;
  box-shadow: 0 2px 1px #ccc;
  transition: background-color 100ms;
  font-size: 12px;
}

.chrome-spendly-button:hover, .chrome-spendly-button:focus {
  background-color: rgba(111, 135, 236, .8);
  color: #fff;
}
